@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  src:
    url('/fonts/subset-PretendardVariable-Regular.woff2') format('woff2'),
    url('/fonts/subset-PretendardVariable-Regular.woff') format('woff'),
    url('/fonts/subset-PretendardVariable-Regular.ttf') format('truetype');
  font-weight: 300 400 500 700 800;
  font-display: fallback;
}

:root {
  --font-pretendard: 'Pretendard Variable', sans-serif;
}

body {
  font-family: var(--font-pretendard);
}

.Toastify__toast {
  @apply bg-black text-white !important;
  padding: 0;
}

.Toastify__toast {
  max-height: 24px;
  background-color: rgba(25, 25, 27, 0.85);
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

.Toastify__toast-body {
  max-height: 10px;
  margin: 0;
  padding: 0;
}

:root {
  --swiper-pagination-color: #ffffff; /* 페이지네이션 점 색상 */
}

/* 각 페이지네이션 점 */

.swiper-pagination-bullet {
  width: 40px;
  height: 20px;
  background: transparent;
  border: 1px solid red;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  width: 40px;
  transition: width 0.5s;
  border-radius: 5px;
  border: 1px solid transparent;
}
